node_modules/
dist/
release/
img/
.venv/
venv/
__pycache__/
*.pyc
.DS_Store
*.log
/.idea/
.vscode/
thumbs/
user-data/
*.sqlite
/.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
imgs/tmp/*.json
backups_refs/*.bak.*
backups_refs/*.xmp.bak.*
backups_refs/archive.tar.gz
*.tar.gz
*.zip
